canvas{
    border: 1px solid black;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*
    *98 as 100 would cause the screen to move when used up and down arrows.
    */
    height: 98vh;
}